*{
    margin: 0;
    padding:0; 
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(270deg, #E1BE6A, #40B0A6 );
    background-size: 400% 400%;
  }
  
.todo{
    width: 100%;
    max-width: 540px;
    opacity: 1;
    background-color: #f1f1f1dc;
    margin: 80px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo h2{
    color: #002765;
    display: flex;
    margin-left: 33%;
    align-items: center;
    margin-bottom: 20px;

}
.todo h2 img{
    width: 40px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border-radius: 30px;
    padding-left: 8px;
    margin-bottom:25px;
}
input{
    float: 1;
    border: none;
    outline: none;
    padding: 10px;
}

.button{
    border: none;
    outline: none; 
    padding: 16px 50px;
    background: #FF5945;
    color: antiquewhite;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

.button:hover{
    background: #23ad51;

}



ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    background: #eee;
    transition: 0.2s;

   /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;   
}

ul li:nth-child(odd) {
    background: #f9f9f9;
}
 
ul li:hover {
    background: #ddd;
}

ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}
  

ul li.checked ::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    top: 12px;
    left: 16px;

}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 15px 12px 15px;
    background-color:  #eb5247;
    border: #002765;
}

.close:hover {
    background-color: #ff1100;
    color: white;
}
  

