*{
    margin: 0;
    padding:0; 
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #6d695c;
background-image:
repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
background-size: 70px 120px;
}
.todo{
    width: 100%;
    max-width: 540px;
    opacity: 1;
    background-color: #f1f1eb;
    margin: 80px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo h2{
    color: #002765;
    display: flex;
    margin-left: 33%;
    align-items: center;
    margin-bottom: 20px;

}
.todo h2 img{
    width: 40px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom:25px;
}
input{
    float: 1;
    border: none;
    outline: none;
    padding: 10px;
}

button{
    border: none;
    outline: none; 
    padding: 16px 50px;
}

